.{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.card{
   margin: auto;
   width: 300px;
   border: 1px solid black;
   border-radius: 5px;
   background:linear-gradient( 115deg, rgba(118, 67, 170, 0.8), rgba(68, 68, 216, 0.7) ),url(../ares.jpg);
   background-size: cover;
}
.group {
    list-style-type:armenian;
    font-size:30px;
    color:blueviolet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.group li{
    margin-bottom: 20px;
}
@media (max-width:427px){
    html,body{
      height: 100rem;
        overflow-x: hidden;
    }
    .hero-section{
        width:100%;
    }
    
   
   
}